
.advertising {
  background: #ffffff;
  margin-top: 8%;
  &__content {
    /* Opacity #2 */
    .hover12 figure {
      border-radius: 10px;
      background: #000000;
    }
    .hover12 figure img {
      border-radius: 10px;
      opacity: 1;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    }
    .hover12 figure:hover img {
      border-radius: 10px;
      opacity: .7;
    }

    .slick-slider {
      .slick-next {
        position: absolute !important;
        right: 80px !important;
        font-size: 0 !important;
        width: 40px !important;
        top: 240px;
        height: 40px !important;
        border-radius: 60px;
        background-image: url("../../../../public/images/next.png");
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center;
        border: none;
        cursor: pointer;
      }


      .slick-prev {
        position: absolute !important;
        font-size: 0 !important;
        width: 40px !important;
        height: 40px !important;
        left: 80px !important;
        background-image: url("../../../../public/images/Arrow 1.png");
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center;

        top: 230px;
        border-radius: 60px;
        border: none;
        z-index: 999;
        cursor: pointer;
      }


      .slick-list {
        overflow: hidden;
        height: 40vh;
        z-index: 999 !important;
        border-radius: 10px;

        .slick-track {
          display: flex;
          z-index: 999 !important;

          .slick-slide {
            div {
              height: 0;
              img {
                z-index: 0;
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
              }
            }

          }
        }
      }
    }

    &__img{
      margin-top: 10px;
      img{
        width: 100%;
        object-fit: cover;
      }
    }
  }
}