.tab-list {
  height: 50px;
  display: flex;
  list-style: none;
  font-size: 18px;
  padding: 0;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-right: 30px;

}
.active-tabs {
  background: transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 2px;
  background: blue;
}

.content {
  display: none;
  padding: 10px 0;
}

.active-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content__table{
  width: 100%;
  .content__row{
    display: flex;
    align-items: start;
    justify-content: start;
    &__header{
      padding-right: 3rem;
      &__image{
        object-fit: cover;
        width: 100px;
      }
    }
  }
}

.content__row__date{
  color: gray;
  font-weight: 400;
  font-size: 0.8rem;
}
.content__row__delete{
  margin-top: 1rem;
  cursor:pointer;
  border-bottom: 1px solid gray;
}
.table__head{
  width: 90%;
}








@media (max-width: 414px) {
  .tab-list{
    width: 100%;
    overflow-x: scroll;
  }
  .active-content{
    display: block;
  }
  .content__table{
    .content__row{
      display: flex;
      &__header{
        padding-right: 1rem;
      }
    }
  }

}


